:root {
--header-color: #008753;
--p-color: white;
--body-font: Roboto, sans-serif;
--section-bgColor: antiquewhite;  
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   font-family: var(--body-font);

}

header, main, footer {
    max-width: 580px;
    margin: 1rem auto;
}

header {
    background-color: var(--header-color);
    margin-bottom: 0;
    padding: 1rem;
    border-bottom: 3px solid #fff;
}

/* MAIN */
main{
    display: grid;
    grid-column: 1fr;
    grid-gap: 0;
    justify-content: center;
}


h1{
    color: var(--p-color);
    text-align: center;
    font-weight: 500;
    padding: 1rem;
}

/* BACKGROUND IMAGE */
.bgimg img{
    border-bottom: 6px solid var(--header-color);
   
}

section{
    justify-items: center;
    background-color:var(--section-bgColor);
}

.data{
    padding: 1rem;
    border-bottom: 2px solid var(--header-color);
}

.weather{
    padding: 1rem;
}


/* FOOTER */

footer{
    background-color: var(--header-color);
    margin-top: 0;
    padding: 1rem;
}

footer p {
    text-align: center;
    color: var(--p-color);
}